################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SummerSchool2021/.vs/SummerSchool2021/v16
/SummerSchool2021/SummerSchool2021/bin/Debug/netcoreapp3.1
/SummerSchool2021/SummerSchool2021/obj
/.vs/SummerSchool2021/v16/.suo
/.vs/slnx.sqlite
