################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SummerSchool2021/.vs/SummerSchool2021/v16
